.card-image {
  margin-bottom: var(--sds-g-spacing-small);
  max-width: 100%;
  vertical-align: top;
}

.card-image--with-border {
  border: 1px solid var(--sds-g-color-neutral-base-contrast-1);
  max-width: calc(100% - 2px);
}
